alabaster==0.7.16
Babel==2.15.0
certifi==2024.6.2
#chardet==5.2.0
charset-normalizer==3.3.2
docutils==0.21.2
flake8==7.0.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.18.0
PyYAML==6.0.1
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
types-docutils==0.20.0.0
types-requests==2.31.0.0
types-urllib3==1.26.25.14
#typing==3.7.4.3
typing_extensions==4.12.2
urllib3==2.2.1
yamllint==1.33.0
